.intro {
    margin-top: 100px;
    margin-bottom: 95px;
    &-container {
        border-radius: 10px;
        padding: 37px 0;
        box-shadow: 0 42px 114px rgba(13, 16, 37, 0.06);
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 36.5px;
        font-size: 20px;
    }
    &-item:nth-child(2) {
        border-right: 2px solid #EEEFF2;
        border-left: 2px solid #EEEFF2;
    }
    &-title {
        font-size: 25px;
        margin-bottom: 5px;
        line-height: calc(30/25);
    }
    &-text {
        line-height: calc(30/20);
    }
    &-icon {
        background: #FFECEC;
        color: $primary-color;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        position: relative;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }   
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .intro-container {
        grid-template-columns: 100%;
    }
    .intro-item {
        border: none;
        flex-direction: column;
        gap: 20px 0;
        text-align: center;
        margin-bottom: 20px;
    }
}
